.simple-fw{
    font-weight: 600;
}
.nav-menu a{
    color: #262339;
    font-weight: 600;
}

.nav-menu a:hover{
    color: #FF7F47;
}

.login{
    border: 1px solid #FF7F47;
    border-radius: 5px;
    transition: 0.3s;
}

.logout{
    color: #262339;
    margin-left: 10px;
    border: 1px solid #FF7F47;
    padding: 7px 13px;
    border-radius: 4px;
    transition: 0.4s;
}
.logout:hover{
    background-color: #FF7F47;
    color: white;
}

.user-dp{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}